.addCertContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addBtn {
  height: 40px;
  width: 150px;
}

.placeholderText {
  margin-top: 50px;
}

.certContainer {
  width: 600px;
}