.addCertContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addBtn {
  height: 40px;
  width: 150px;
}

.placeholderText {
  margin-top: 50px;
}

.certList {
  width: 400px;
  border: 1px solid black;
}

.placeholderBlock {
  width: 450px;
}