.item {
  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  justify-content: space-between;
}

.item:not(:last-child) {
  border-bottom: 1px solid black;
}

.item p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.selected {
  background-color: #ebebeb;
  cursor: default;
}