.infoBlock {
  width: 450px;
  height: 300px;
  padding: 15px;
  padding-left: 30px;
  font-size: 1.1rem;
  border: 1px solid black;
}

.infoList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoList li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.infoList li span {
  font-weight: bold;
}